
<div class="filter-panel-container">
    <mat-card>
        <div class="filters flex-row flex-space-between flex-align-items-start">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input #nameFilter   matInput placeholder="Type a name">
            </mat-form-field>

            <mat-form-field>
                <mat-label>City</mat-label>
                <input #cityFilter  matInput placeholder="Type a city">
            </mat-form-field>

            <a mat-raised-button color="primary" (click)="filterResults()">Filter</a>
            <a mat-raised-button color="accent" (click)="clearFilters()">Clear filters</a>

        </div>
    </mat-card>
</div>
