
<div class="table-container mat-elevation-z8">

    <mat-table #table [dataSource]="breweries">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <a [routerLinkActive]="'follow-link'" (click)="go(element.id)">
                    {{element.name}}
                </a>
            </mat-cell>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.brewery_type}} </mat-cell>
        </ng-container>

        <!-- City Column -->
        <ng-container matColumnDef="city">
            <mat-header-cell *matHeaderCellDef> City </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.city}} </mat-cell>
        </ng-container>

        <!-- Country Column -->
        <ng-container matColumnDef="country">
            <mat-header-cell *matHeaderCellDef> Country </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.country}} </mat-cell>
        </ng-container>

        <!-- Link Column -->
        <ng-container matColumnDef="link">
            <mat-header-cell *matHeaderCellDef> Link </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.website_url}} </mat-cell>
        </ng-container>

        <!-- Phone Column -->
        <ng-container matColumnDef="phone">
            <mat-header-cell *matHeaderCellDef> Phone number </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.phone}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="6">No data matching the filter</td>
        </tr>
    </mat-table>

    {{currentPage}}
    <mat-paginator #paginator [showFirstLastButtons]="true"  [length]="computeMaxLength(paginator)"
        [pageSizeOptions]="[maxItemsPerPage]"
        aria-label="Select page of breweries"
        (page)="changePage.emit($event.pageIndex)"
        pageIndex="{{currentPage}}"
    ></mat-paginator>
</div>

