.mat-column-city {
  flex: 0 0 10%;
}
.mat-column-type {
  flex: 0 0 10%;
}

.mat-column-country {
  flex: 0 0 10%;
}
.mat-column-country {
  flex: 0 0 11%;
}

.mat-column-phone {
  flex: 0 0 10%;
}

a{
  cursor: pointer;
  color: blue;
}
