
<div class="input-search">
    <mat-card>

        <div class="flex-row flex-align-items-start flex-start">
            <mat-form-field [appearance]="'outline'" >
                <input #inputSearch matInput placeholder="Type a name search breweries around the world..."
                       [matAutocomplete]="auto" >
            </mat-form-field>
            <div *ngIf="isLoading" class="loading-message">
                Loading...
            </div>
        </div>

    <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let item of breweries" [value]="item.name">
                <a class="suggestion-item" *ngIf="!isLoading" [routerLink]="'/details/'+item.id" >
                        {{item.name}}
                </a>
            </mat-option>
    </mat-autocomplete>
    </mat-card>
</div>
