.input-search mat-form-field{
  width: 400px;
}

.input-search{
  margin-top: 16px;
  margin-bottom: 16px;
}

.loading-message{
  color: white;
  background-color: salmon;
  padding: 8px;
  border-radius: 12px;
  margin-left: 16px;
}

a {
  text-decoration: none;
}

.suggestion-item{

}