<div class="input-search">
    <mat-form-field [appearance]="'outline'" >
        <input #inputSearch matInput placeholder="Type a name search breweries around the world..."
               [matAutocomplete]="auto" >
    </mat-form-field>
    <div *ngIf="isLoading">
        Loading :)
    </div>
    <mat-autocomplete #auto="matAutocomplete">

            <mat-option *ngFor="let item of breweries" [value]="item.name">

                <a *ngIf="!isLoading" [routerLink]="'/details/'+item.id" >
                    <div>
                        {{item.name}}
                    </div>
                </a>
            </mat-option>

    </mat-autocomplete>
</div>
