<div class="details-container">
    <h3>{{brewery.name}}</h3>

    <div class="flex-row flex-space-between">
        <div>Url:</div>
        <div>{{brewery.url}} </div>
    </div>
    <div class="flex-row flex-space-between">
        <div>Street:</div>
        <div>{{brewery.street}}</div>
    </div>
    <div class="flex-row flex-space-between">
        <div>City:</div>
        <div>{{brewery.city}}</div>
    </div>
    <div class="flex-row flex-space-between">
        <div>State/Province:</div>
        <div>{{brewery.state}}</div>
    </div>
    <div class="flex-row flex-space-between">
        <div>Postal Code:</div>
        <div>{{brewery.post}}</div>
    </div>
    <div class="flex-row flex-space-between">
        <div>Country:</div>
        <div>{{brewery.country}}</div>
    </div>

    Google map below
<!--    <div class="flex-row flex-space-between">-->
<!--        <div>Location:</div>-->
<!--        <div>{{brewery.location}}</div>-->
<!--    </div>-->
</div>

<!--Brewery Name-->
<!--Brewery URL-->
<!--Street-->
<!--City-->
<!--State/Province-->
<!--Postal Code-->
<!--Country-->
<!--A google map render with the provided coordinates (Bonus)-->
