<div class="details-container">

    <div >

        <h3>{{ (selectedBrewery$ | async)?.name}}</h3>

        <div class="flex-row flex-space-between">
            <div>Url:</div>
            <div><a href="{{ (selectedBrewery$ | async)?.website_url}}" target="_blank">
                {{ (selectedBrewery$ | async)?.website_url}} </a></div>
        </div>
        <div class="flex-row flex-space-between">
            <div>Street:</div>
            <div>{{ (selectedBrewery$ | async)?.street}}</div>
        </div>
        <div class="flex-row flex-space-between">
            <div>City:</div>
            <div>{{ (selectedBrewery$ | async)?.city}}</div>
        </div>
        <div class="flex-row flex-space-between">
            <div>State/Province:</div>
            <div>{{ (selectedBrewery$ | async)?.state}}</div>
        </div>
        <div class="flex-row flex-space-between">
            <div>Postal Code:</div>
            <div>{{ (selectedBrewery$ | async)?.postal_code}}</div>
        </div>
        <div class="flex-row flex-space-between">
            <div>Country:</div>
            <div>{{ (selectedBrewery$ | async)?.country}}</div>
        </div>
    </div>

    <div>
            <div class="flex-row flex-space-between">
                <div>Location:</div>
                <div>{{ (selectedBrewery$ | async)?.latitude}}</div>
            </div>
        <google-map
                height="500px"
                width="100%"
                [zoom]="17"
                [center]="(selectBreweryCoordinates$ | async) ||   defaultCenter">
            <map-marker
                    [position]="(selectBreweryCoordinates$ | async) ||   defaultCenter"
                    [label]=" (selectedBrewery$ | async)?.name || ''"
                    [title]=" (selectedBrewery$ | async)?.name || ''"
            > </map-marker>
        </google-map>
    </div>
</div>
