

.details-container{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  padding: 16px;
}

.info-container{
  width: 30%;
  margin-top: 16px;
  margin-bottom: 16px;

}

.brewery-name{
  color: indigo;
}

.no-map{
  background-color: white;
  height: 400px;
  width: 100%;
  justify-content: center;
  align-items: center;
}