<div class="details-container">
    <div class="flex-row flex-space-between">
        <a routerLink="/" mat-raised-button color="primary">Back</a>

        <div *ngIf="isLoading" class="loading-message">
            Loading...
        </div>
    </div>

    <div *ngIf="!isLoading" class="info-container">
        <mat-card>
            <h1>Brewery Details</h1>
            <h2 class="brewery-name">{{ (selectedBrewery$ | async)?.name}}</h2>

            <div class="flex-row flex-space-between">
                <div>Url:</div>
                <div><a href="{{ (selectedBrewery$ | async)?.website_url}}" target="_blank">
                    {{ (selectedBrewery$ | async)?.website_url}} </a></div>
            </div>
            <div class="flex-row flex-space-between">
                <div>Street:</div>
                <div>{{ (selectedBrewery$ | async)?.street}}</div>
            </div>
            <div class="flex-row flex-space-between">
                <div>City:</div>
                <div>{{ (selectedBrewery$ | async)?.city}}</div>
            </div>
            <div class="flex-row flex-space-between">
                <div>State/Province:</div>
                <div>{{ (selectedBrewery$ | async)?.state}}</div>
            </div>
            <div class="flex-row flex-space-between">
                <div>Postal Code:</div>
                <div>{{ (selectedBrewery$ | async)?.postal_code}}</div>
            </div>
            <div class="flex-row flex-space-between">
                <div>Country:</div>
                <div>{{ (selectedBrewery$ | async)?.country}}</div>
            </div>
        </mat-card>
    </div>

    <div *ngIf="!isLoading">
        <div *ngIf="(selectedBrewery$ | async)?.latitude == null" class="no-map flex-row " >
            <div>Location:&nbsp; </div>
            <div>No location information was found!</div>
        </div>

        <div *ngIf="(selectedBrewery$ | async)?.latitude != null" class="map-container">

            <google-map
                    height="400px"
                    width="100%"
                    [zoom]="17"
                    [center]="(selectBreweryCoordinates$ | async) ||   defaultCenter">

                <map-marker
                        [position]="(selectBreweryCoordinates$ | async) ||   defaultCenter"
                        [label]=" (selectedBrewery$ | async)?.name || ''"
                        [title]=" (selectedBrewery$ | async)?.name || ''"></map-marker>

            </google-map>
        </div>
    </div>


</div>
