.details-container{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  padding: 16px;
}

.info-container{
  width: 35%;
  margin-top: 16px;
  margin-bottom: 16px;

}

.loading-message{
  color: white;
  background-color: orangered;
  padding: 8px;
  border-radius: 12px;
  width: 10%;
  text-align: end;
}

.brewery-name{
  color: indigo;
}

.no-map{
  background-color: white;
  height: 400px;
  width: 100%;
  justify-content: center;
  align-items: center;
}