<div class="page-container">

    <h3 class="heading1">AngularJS Challenge using NgRX</h3>
    <h4 class="heading2">Author: Voltaire Bazurto</h4>

    <app-autosuggest-input-field
            [isLoading]="(isSearching$ | async) || false"
            [breweries]="(suggestions$ | async) || []"
            (textChange)="debounceText($event)"></app-autosuggest-input-field>
    <app-filter-panel (filtersEventEmitter)="filterBreweries($event)" class="filters"></app-filter-panel>
    <app-data-table
        [breweries]="( (breweries$ |async) || []  ) "
        (changePage)="onPageChanged($event)"
        [currentPage]="(currentPage$ | async) || 0"></app-data-table>
</div>
