.page-container{
  margin-top: 30px;
  width: 80%;
}

//.input-search mat-form-field{
//  width: 400px;
//}
.input-search {
  margin-bottom: 30px;
}

.app-filters{
  margin-bottom: 30px;
}


app-data-table{
  margin-top: 30px;
}